Repository process-analytics/github-actions-playground, pull requests merged in 2022-04, with the labels that each got.

#47 [DOC] Improve the API documentation used for testing
  src/api/public/api.ts
Labels: documentation

#65 [INFRA] Rework post release workflows and update README
  .github/workflows/post-release-update_bpmn_visualization_version_in_Examples_repo.yml
  .github/workflows/post-release-update_bpmn_visualization_version_in_R_repo.yml
  .github/workflows/post-release-upload-demo-archive-and-trigger-companion-repositories-update.yml
  README.md
Labels: infra:build

#71 [FEAT] Simplify the parameters in the custom GH action
  .github/actions/notify-PA-repo-of-new-version/action.yml
  .github/workflows/post-release-upload-demo-archive-and-trigger-companion-repositories-update.yml
Labels: infra:repo

#72 [INFRA] Fix set CLIENT_PAYLOAD
  .github/actions/notify-PA-repo-of-new-version/action.yml
Labels: infra:repo
